*{ padding: 0; margin: 0; list-style: none;}
.nav {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
}
.nav-bar li a {
    display: block;
    padding: 9px;
    color: slateblue;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}
.nav-bar li a:hover {
    background-color: #519600;
}
.sub-nav {
    display: none;
    position: absolute;
    background-color: #519600;
    width: 175px;
    z-index: 1;
}
.dropdown > a:after {
   content: "\2228";
    margin-top: 2px;
    margin-left: 5px;
    font-size: 0.8em;
    position: absolute;
    transition: .5s ease;
    color: white;
}
.active > a:after {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.toggle {
    display: none;
}
@media screen and (max-width: 768px) {
    .nav-bar {
        display: none;
        width: 100%;
        flex-flow: column wrap;
        text-align: center;
    }   
    .sub-nav {
        position: relative;
        width: 100%;
        display: none;
        background-color: rgba(0, 0, 0, 0.20);
    }
    .toggle {
        width: 25%;
        display: block;
        margin-left: 22px;
    }
    .toggle .line{
        width: 30px;
        height: 3px;
        background-color: #ffffff;
        display: block;
        margin: 8px 0px;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .toggle:hover{
        cursor: pointer;
    }
    .toggle.is-active .line:nth-child(2){
        opacity: 0;
    }

    .toggle.is-active .line:nth-child(1){
        -webkit-transform: translateY(9px) rotate(45deg);
        -ms-transform: translateY(9px) rotate(45deg);
        -o-transform: translateY(9px) rotate(45deg);
        transform: translateY(9px) rotate(45deg);
    }

    .toggle.is-active .line:nth-child(3){
        -webkit-transform: translateY(-13px) rotate(-45deg);
        -ms-transform: translateY(-13px) rotate(-45deg);
        -o-transform: translateY(-13px) rotate(-45deg);
        transform: translateY(-13px) rotate(-45deg);
    }
}
@media screen and (min-width: 769px) {
    .nav-bar {
        display: flex !important;
    }
}
.wrapper {
    display: block;
    margin: 0 auto;
    padding: 150px 50px;
}
header{
    background-color: #7ce700;
}
.wrapper-head{
    max-width: 972px;
    margin: 0 auto;
    display: flex;
}
.logo{
    width: 20.78%;
}

/*Layout*/
/*Dropdown*/
.dropdown {
  width: 4em;
  margin-top: 20px;
  margin-left: 28px;
}
.fa {
  float: right;
}
/*List*/
.dropdown ul {
  display: none;
}
.dropdown li {
  cursor: pointer;
  color: white;
  font-size: 15px;
}
.dropdown a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.social__items{
    display: flex;
}

.search {   color: #fff; text-align: right; margin-top: 5px;}
#s { max-width: 15em;   }

/* Search styles */

#s { background: url(../img/min/search.png) no-repeat 7px 7px; text-indent: 1em; display: inline-block; border: 0 none; width: 0; height: 3em; border-radius: 3em; -webkit-transition: .3s; transition: .3s; outline: none; padding: 1em 1.5em; cursor: pointer; -webkit-appearance: none; font-weight: inherit; font-size: inherit; font-family: inherit; color: #999; vertical-align: baseline; }
input[type=search]::-webkit-search-cancel-button { -webkit-appearance: none; }

#s:hover, #s:focus { background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAUCAYAAABvVQZ0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAT5JREFUeNqsVLtOw0AQtIMlRJHCEhUVMg398QEUSZnSfILzCXxDPsFu6XAJHWnTcS1lWsprKdmLxtKwvjVBYaTV7cm+udnX5fPb+yyBSmwhVmK/FfPZLyjUPhI8YtXYi23EOovs7PzyevAbsWeoGg5HNUHsCipX8F9TZDOstVgLPxIsxW6w3sHv6dJ2StkLbh6IPtR/AWRfSIET20H9D2U1hfaAgxY2KMagcBSmg9/rmwx0lBqTzGfHoVfVHxXgXzCjHNRHnnHke4vMGc2q0RBR0GSeCLlpLaJGFWKUszVuib32nih7iTFrjXAPyGnQ48c3Gu5AOVlMtMk6NZuf+FiC+AIhV0T+pBQ5ntXceIJKqKko2duJ2TwoLAz5QTVnagJaXWEO8y/wSMuKH9RTJoCTHyNZFidOUEfNu/8WYAAOXUT04MOtlwAAAABJRU5ErkJggg==) 14px 14px no-repeat; }

#s:focus { width: 100%; cursor: text; }

.social{
    display: flex;
    justify-content: space-between;
}


.bxslider {
  width: 100%;  
}

.bx-wrapper {
     margin-bottom: 30px !important;
}

.bx-wrapper {
    border: 0px solid #fff !important;
}

.bxslider img {
  width: 100%;
}
.bx-wrapper .bx-prev {
    left: 10px;
    background: url(prev.png) no-repeat !important; 
}
.bx-wrapper .bx-next {
    right: 10px;
    background: url(next.png) no-repeat !important;
}
.bx-wrapper .bx-controls-direction a {
    width: 60px !important;
    height: 112px !important;
}


.wrapper-content{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.news{
    max-width: 770px;
}
.topnews{
    display: flex;
    margin-bottom: 10px;
}
.topnews__left{
    position: relative;
}
.topnews__left h2 {
    position: absolute;
    top: 250px;
    left: 0;
    font-size: 15px;
    color: white;
    padding-left: 20px;
    line-height: 30px;
}
.topnews__right-pic{
    position: relative;
    height: 168px;
}
.topnews__right-pic h2 {
    position: absolute;
    top: 145px;
    left: 0;
    font-size: 15px;
    color: white;
    padding-left: 10px;
    line-height: 15px;
}
.topnews__right-pic img{
    height: 170px;
    width: 100%;
}

.colnews{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.colnews__item{
    width:240px;
}

.tournament{
    width: 366px;
    color: white;
    background-color: #71ad2b;
}
.photo{
    width: 366px;
    color: white;
    background-color: #71ad2b;
    margin-top: 28px;
}
.photo__img{
    display: flex;
    flex-wrap: wrap;
}
.video{
    width: 366px;
    color: white;
    background-color: #71ad2b;
    margin-top: 28px;
}
body{
    font-family: 'Comfortaa', cursive;
}
.logo img{
    margin-top: 10px;
}
.social__items img{
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px; 
}

.tournament h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 25px;
}
.photo h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 25px;
}
.video h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 25px;
}
table{
    width: 100%;
    border-bottom: 1px solid #fff;
    border-collapse: collapse;
    border-spacing: 0;
    
}
tr{
    border-bottom: 1px solid #fff;
    border-collapse: collapse;
    border-spacing: 0;
}
thead tr{
    border-bottom: 0px solid #fff;
}
thead{
    text-align: left;
}
table th, table td {
    padding: 4px 10px;
  }
.number{
    width: 8%;
}
.team_logo{
    width: 10%;
}
.team{
    width: 72%;
}
.games, .point{
    width: 5%;
}



@media screen and (max-width: 1140px) {
    .topnews {
    flex-wrap: wrap;
    justify-content: space-around;
}
.topnews__right{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.topnews__left{
    width: 100%;
}
.topnews__left img{
    width: 100%;
}
}

@media screen and (max-width: 886px) {
    .wrapper-content {
    justify-content: space-around;
    flex-wrap: wrap;
}
.topnews__left{
    width: 100%;
}
.topnews__left img{
    width: 100%;
}
.topnews__right {
    justify-content: space-around;
    width: 100%
}

}

@media screen and (max-width: 768px) {
    .menu{
    width: 100%;
}
.nav-bar li{
    margin-left: -26%;
}
.sub-nav li{
    margin-left: 0%;
}
.bx-wrapper .bx-controls-direction a {
    top: 40% !important;
}

}

@media screen and (max-width: 500px) {
    .bx-wrapper .bx-controls-direction a {
    top: 30% !important;
}
}
@media screen and (max-width: 500px) {
    .topnews__left h2 {
    top: 215px;
}

}
